---
layout: _page_skeleton.njk
---
<header class="mx-auto max-w-screen-3xl px-u2-pad"> 
{% include '_includes/_header.njk' %}    
</header>  
<main class=""> 
  {{ content | safe }}
</main>
<footer class="mx-auto mt-12 max-w-screen-3xl px-u2-pad">
{% include '_includes/_footer.njk' %}  
</footer>