{% macro fancyBlock(data = "nothing") %}
  <div class="grid grid-cols-12 gap-12">
    <div class="col-span-12 gap-12 lg:grid lg:grid-cols-12 md:col-span-6 lg:col-span-12">
      {{ card( id='fgfg', cardTitle = 'some card title', firstElement=true) }}
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4">
      {{ card( id='fgfg', cardTitle = 'some card title') }}
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4">
      {{ card( id='fgfg', cardTitle = 'some card title') }}
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4">
      {{ card( id='fgfg', cardTitle = 'some card title') }}
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4">
      {{ card( id='fgfg', cardTitle = 'some card title') }}
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4">
      {{ card( id='fgfg', cardTitle = 'some card title') }}
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-4">
      {{ card( id='fgfg', cardTitle = 'some card title') }}
    </div>
  </div>
{% endmacro %}

{% macro card(id = false, cardTitle = 'someTitle', firstElement=false) %}
  <div class="col-span-8 bg-blue-200 {{ 'h-56 lg:h-96' if firstElement else 'h-56' }}"></div>
  <div class="col-span-4">
    <p class="text-xl ">title</p>
    <p class="text-sm underline">some-link</p>
  </div>
{% endmacro %}

