<header  class="pt-8">
  <nav class="flex flex-row justify-between">
    <div>
      <a href="/" class="">
        <div class="px-4 py-2 text-white bg-brand ">Logo</div>
      </a>
    </div>
    <div>
      <ul class="flex flex-row">
        {%- for navItem in nav.main -%}
          {%- if navItem.showInMainNav -%}
            <li>
              <a href="{{navItem.url}}">
                <div class="ml-12 text-lg cursor-pointer text-brand hover:underline">
                  <span class="">{{navItem.name}}</span>
                </div>
              </a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>

  </nav>
</header>