<meta property="og:title" content="{{ metadata.title or title}}" >
    <meta property="og:description" content="{{ metadata.og_description or metadata.description }}" >
    <meta property="og:url" content="{{site[site.currentEnv].baseURL}}{{page.url}}" >
    <meta property="og:image" content="{{site[site.currentEnv].baseURL}}{{ metadata.og_image or site.metadata.default_og_image }}" >
    <meta property="og:site_name" content="{{site.name}}" >
    <meta property="og:locale" content="{{site.locale}}" >
    <meta property="og:type" content="{{ metadata.og_type or site.metadata.default_og_type}}" >
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="author" content="{{ author or site.author.name }}">
    <meta name="publish_date" property="og:publish_date" content="{{ date or site.currentDate }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ metadata.twitter_title or metadata.title or title}} ">
    <meta name="twitter:description" content="{{metadata.twitter_description or metadata.og_description or metadata.description}}">
    <meta name="twitter:site" content="{{ site.author.twitterHandle }}">
    <meta name="twitter:image" content="{{site[site.currentEnv].baseURL}}{{ metadata.og_image or site.metadata.default_og_image }}">
    <meta name="twitter:creator" content="{{ metadata.twitter_creator or site.author.twitterHandle }}">
    <meta name="twitter:domain" content="{{ site[site.currentEnv].domain }}">
    <meta name="twitter:dnt" content="on" >