{# Automatically create a macro for each component in '_components'.
The Include will inherit the params passed here #}
{%- macro component(name, params) -%}
  {% include "../_njk_components/" + name + "/" + name + ".njk"  %}
{%- endmacro -%}