---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
User-agent: * Disallow: /terms-and-conditions/

User-agent: * Disallow: /cdn-cgi/

Sitemap: {{ site[site.currentEnv].baseURL }}/sitemap.xml