---
title: Another Page
layout: _regular_page.njk
metadata:
  title: age 2 title for the HEAD and OG
  description: The age 2 description 
  og_image:
noindex: 
sitemap:
---
<section class="mx-auto mt-12 max-w-screen-3xl px-u2-pad">
  <h1  class="text-5xl font-thin">{{title}}</h1>
</section>
