---
title: Page title
layout: _regular_page.njk
metadata:
  title: Page title for the HEAD and OG
  description: The page description 
  og_image:
noindex: 
sitemap:
---
<section class="p-12">
  <h1  class="text-2xl ">Not a lot here yet</h1>
</section>

<section class="px-12">
  {% from "_components/simple-block/_macro.njk" import simpleBlock with context %}
  {{ simpleBlock( {title:"But this comes from a Macro"} )}}

  {{ "sdsds" | console | safe }}
</section>