{# Components are Includes which inheret the propoerties of the macro that called them.
So params is avaialbe here #}
<h1 class="{{ params.styles if params.styles else 'text-3xl font-thin' }}">{{ params.title }}</h1>